<nav class="row navbar-new">
    <div class="container-fluid">
        <div class="col-md-3">
            <img src="./assets/img/logo.png" alt="">
        </div>
        <div class="col-md-5">
            <ul class="cont-list-items">
                <li>Inicio</li>
                <li>Nuestros Programas</li>
                <li>Programas Organizaciones</li>
                <li>Quiénes Somos</li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="cont-search-box">
                <input type="text" placeholder="¿Qué quieres aprender?">
                <i class="material-icons">search</i>
            </div>
        </div>
        <div class="col-md-1 cont-list-item-right">
            <p>
                <span> FAQ</span> <span> ESP</span> <i class="material-icons">keyboard_arrow_down </i>
            </p>
        </div>
    </div>
</nav>