.navbar-new {
    background: #000;
    height: 8rem;
    padding: 1rem;
    color: #fff;
    font-family: 'Lato', sans-serif;
    //overflow: hidden;
    width: 100%;
    margin: 0;
    .logo {
        cursor: pointer;
    }
    .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .cont-list-items {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            font-weight: 700;
            display: inline-block;
            width: 12rem;
            margin: 0 1rem;
            cursor: pointer;
            font-size: 1.7rem;
            text-align: center;
            &:last-child {
                width: 10rem;
            }
            transition: all 0.4s;
            &:hover {
                color: #ffe124;
            }
        }
    }
    .cont-search-box {
        width: 80%;
        position: relative;
        height: 3rem;
        display: flex;
        align-items: center;
        input {
            height: 100%;
            position: absolute;
            width: 100%;
            border-radius: 1.5rem;
            border: 1px solid #fff;
            font-size: 1.5rem;
            font-weight: 100;
            padding: 0 1rem;
            outline: none;
            background: #000;
            padding-bottom: 0.3rem;
            &::placeholder {
                color: #fff;
            }
        }
        i {
            position: absolute;
            right: 0.5rem;
        }
    }
    .cont-list-item-right {
        padding: 0;
        .select-language {
            margin: 0;
            font-size: 1.7rem;
            transition: all 0.4s;
            span {
                margin: 0 0.5rem;
                cursor: pointer;
            }
            i {
                position: absolute;
                cursor: pointer;
            }
            &:hover~.cont-language {
                display: block;
                ;
            }
        }
        .cont-language {
            display: none;
            position: absolute;
            top: 2.3rem;
            z-index: 2;
            width: 11rem;
            background: #585858;
            text-align: center;
            height: 9rem;
            transition: all 0.4s;
            ul {
                list-style: none;
                padding: 0;
                height: 100%;
                li {
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all 0.4s;
                    &:hover {
                        color: #ffe124;
                    }
                }
            }
            &:hover {
                display: block;
            }
        }
    }
}