<div class="row text-center">
    <div class="col-md-12 cont-title-info">
        <h1>EXPLORA NUESTRA OFERTA</h1>
        <h2>¡Descubre lo que tenemos para ti!</h2>
    </div>
</div>


<div class="row row-centered">
    <div class="col-sm-3 col-centered  ">
        <div class="card">
            <div class="card-header">
                <img src="./assets/img/offers1.png" alt="oferta 1">
            </div>
            <div class="card-body">
                <p class="card-title">NUESTROS PROGRAMAS</p>
                <p class="card-text">Dirigidos a la comunidad en general y diseñados con el objetivo de formar, capacitar, actualizar y brindar conocimientos a los participantes en diferentes disciplinas.</p>
                <button>Conoce más</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-centered  ">
        <div class="card">
            <div class="card-header">
                <img src="./assets/img/offers2.png" alt="oferta 1">
            </div>
            <div class="card-body">
                <p class="card-title">PROGRAMAS PARA NIÑOS Y JÓVENES</p>
                <p class="card-text">Dirigidos a la comunidad en general y diseñados con el objetivo de formar, capacitar, actualizar y brindar conocimientos a los participantes en diferentes disciplinas.</p>
                <button>Conoce más</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-centered  ">
        <div class="card">
            <div class="card-header">
                <img src="./assets/img/offers3.png" alt="oferta 1">
            </div>
            <div class="card-body">
                <p class="card-title">programa para organizaciones</p>
                <p class="card-text">Dirigidos a la comunidad en general y diseñados con el objetivo de formar, capacitar, actualizar y brindar conocimientos a los participantes en diferentes disciplinas.</p>
                <button>Conoce más</button>
            </div>
        </div>
    </div>
</div>