/* You can add global styles to this file, and also import other style files */

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #eeeeee !important;
    overflow-x: hidden;
}